.container{
    width: 992px;
    margin-inline: auto;
}
header {
    width: 100%;
    background-color:darkgrey;
}
nav a{
    color:black;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
header nav > div {
    gap: 0 15px;
}
*{
    box-sizing: border-box;    
    font-family: 'BPG Algeti Compact';
}
h1{
    font-family: 'Redressed', cursive;
}
.font-2{
    font-size: 20px;
    font-family: 'Redressed', cursive;
}
